*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 765px;
    margin: 20px auto;
    border: 1px solid black;
    background-color: gray;
}

.row{
    height: 250px;
    border: 1px solid black;
    background-color: lightgray;
}

.item{
    display: inline-block;
    height: 250px;
    width: 250px;
    border: 1px solid black;
    background-color: blue;
    position: relative;
}

/* .discount{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: green;
}

.row .discount:nth-of-type(even){
    background-color: red;
}
 */
